openapi: 3.1.0
info:
  title: SageReasoning API
  description: |
    The SageReasoning API provides access to the Stoic Brain V3 — a structured dataset
    encoding Stoic philosophy for virtue-based reasoning, action evaluation, and
    self-assessment using the V3 4-stage evaluation sequence.

    Designed for:
    - AI agents integrating Stoic reasoning into their decision-making
    - The sagereasoning.com website (assessment dashboards, journal, baselines)
    - Human developers building Stoic-aligned products

    V3 Methodology:
    - 4-stage evaluation: prohairesis filter, kathekon assessment, passion diagnosis, unified virtue assessment
    - Qualitative outputs: katorthoma proximity levels, Senecan grades, dimension levels
    - No 0-100 numeric scores — all outputs are qualitative
    - Unity of virtue: virtues assessed as expressions of one unified excellence, not independently scored

    Authentication: Bearer token (Supabase JWT) for user endpoints. Agent endpoints
    use API keys (free or paid tier). Public reference endpoints require no authentication.
  version: 3.0.0
  contact:
    email: zeus@sagereasoning.com
    url: https://sagereasoning.com
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/

servers:
  - url: https://sagereasoning.com/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development

security:
  - BearerAuth: []

paths:

  # ============================================================
  # PUBLIC ENDPOINTS — Stoic Brain V3 reference data
  # ============================================================

  /stoic-brain:
    get:
      summary: Get full Stoic Brain V3 dataset
      description: |
        Returns the master stoic-brain.json — the foundational V3 dataset.
        Ideal for AI agents loading full philosophical context.
        No authentication required.
      tags: [Stoic Brain]
      security: []
      responses:
        '200':
          description: Full Stoic Brain V3 foundations
          content:
            application/json:
              schema:
                type: object

  /stoic-brain/{file}:
    get:
      summary: Get a specific V3 data file
      description: |
        Returns one of the 8 V3 data files. Available files:
        stoic-brain, psychology, passions, virtue, value, action, progress, scoring.
      tags: [Stoic Brain]
      security: []
      parameters:
        - name: file
          in: path
          required: true
          schema:
            type: string
            enum: [stoic-brain, psychology, passions, virtue, value, action, progress, scoring]
      responses:
        '200':
          description: V3 data file content
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================
  # SCORING ENDPOINTS — V3 4-stage evaluation
  # ============================================================

  /score:
    post:
      summary: Score a past action using V3 4-stage evaluation
      description: |
        Submit a description of a completed action and receive a full V3 evaluation.
        Returns katorthoma proximity, passions detected, prohairesis analysis,
        kathekon assessment, and improvement path.

        Uses the V3 4-stage evaluation sequence:
        1. Prohairesis filter — what was within moral choice?
        2. Kathekon assessment — was the action appropriate?
        3. Passion diagnosis — which passions distorted reasoning?
        4. Unified virtue assessment — proximity to sage ideal

        No 0-100 scores. All outputs are qualitative.
      tags: [Scoring]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreActionRequest'
            example:
              action_description: "I stayed silent in a meeting when I disagreed, to avoid conflict with my manager."
              context: "Weekly team meeting. My manager proposed an approach I believed was flawed."
              intended_outcome: "To keep the peace and avoid confrontation."
      responses:
        '200':
          description: V3 qualitative evaluation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3ActionScore'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /advise-action:
    post:
      summary: Advise on a proposed action
      description: |
        Submit a proposed action (before taking it) and receive Stoic guidance.
        Returns sage framing, passion warnings, and kathekon assessment for
        the proposed action and any alternatives.
      tags: [Scoring]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdviseActionRequest'
      responses:
        '200':
          description: Stoic guidance on proposed action
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3ActionAdvice'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================================
  # DELIBERATION ENDPOINTS — Iterative evaluation for AI agents
  # ============================================================

  /score-iterate:
    get:
      summary: Deliberation engine documentation
      description: Returns usage documentation for the iterative scoring endpoint.
      tags: [Deliberation]
      security: []
      responses:
        '200':
          description: API usage documentation

    post:
      summary: Start or continue a deliberation chain
      description: |
        Two modes of operation:

        **Start a new chain:** Send `action` (required) plus optional `context`,
        `intended_outcome`, and `agent_id`. Returns a `chain_id`, the initial V3
        evaluation, sage feedback, and a `growth_action` suggestion.

        **Continue a chain:** Send `chain_id` and `revised_action`. The sage evaluates
        the revised action with full deliberation history awareness.

        All evaluations use V3 methodology — qualitative outputs only.
      tags: [Deliberation]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/StartChainRequest'
                - $ref: '#/components/schemas/ContinueChainRequest'
      responses:
        '200':
          description: V3 evaluation with deliberation context
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3DeliberationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Deliberation chain not found

  /deliberation-chain/{chain_id}:
    get:
      summary: Get deliberation chain summary
      description: |
        Returns a summary of the deliberation chain including proximity trajectory,
        first and latest step summaries. Add `?full=true` for all steps.
      tags: [Deliberation]
      security: []
      parameters:
        - name: chain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: full
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Chain summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3ChainSummaryResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /deliberation-chain/{chain_id}/conclude:
    post:
      summary: Conclude or abandon a deliberation chain
      tags: [Deliberation]
      security: []
      parameters:
        - name: chain_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                abandon:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Chain conclusion summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3ChainConclusionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================
  # AGENT ASSESSMENT ENDPOINTS — V3 self-evaluation framework
  # ============================================================

  /assessment/foundational:
    get:
      summary: Get free-tier foundational assessment prompts
      description: |
        Returns the 14 free-tier V3 assessment prompts (Phases 1-2: Foundations
        and Architecture of Mind). No API key required.
      tags: [Agent Assessment]
      security: []
      responses:
        '200':
          description: V3 foundational assessment info and prompts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FoundationalAssessmentInfo'

    post:
      summary: Score 14 free-tier self-assessments
      description: |
        Submit the agent's 14 self-assessment responses and receive a V3
        foundational alignment profile. Returns Senecan grade estimate,
        katorthoma proximity summary, initial passions detected, and
        a personalised CTA for the full assessment.

        Requires an API key (free tier accepted).
      tags: [Agent Assessment]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentAssessmentRequest'
      responses:
        '200':
          description: V3 foundational result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3FoundationalResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  /assessment/full:
    get:
      summary: Get full assessment info
      description: |
        Returns info about the complete 55-assessment V3 evaluation (all 8 phases).
        Requires a paid API key to POST responses.
      tags: [Agent Assessment]
      security: []
      responses:
        '200':
          description: Full assessment info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullAssessmentInfo'

    post:
      summary: Score all 55 self-assessments (paid tier)
      description: |
        Submit the agent's 55 self-assessment responses and receive the complete
        V3 assessment profile. Returns Senecan grade, dimension levels, full
        passion profile, critical corrections, and personalised examination protocol.

        Requires a paid API key.
      tags: [Agent Assessment]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentFullAssessmentRequest'
      responses:
        '200':
          description: V3 full assessment result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3FullAssessmentResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Paid API key required

  /baseline/agent:
    get:
      summary: Get agent baseline scenarios
      description: |
        Returns 4 ethical scenarios that create genuine virtue tension.
        Evaluated using V3 4-stage evaluation sequence.
      tags: [Agent Assessment]
      security: []
      responses:
        '200':
          description: V3 baseline scenarios
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaselineScenariosInfo'

    post:
      summary: Score agent baseline responses
      description: |
        Submit the agent's responses to all 4 ethical scenarios and receive
        a V3 baseline evaluation. Returns Senecan grade, dimension levels,
        per-scenario 4-stage evaluations, and interpretation.

        Limited to 1 initial + 1 retake per calendar month per agent_id.
      tags: [Agent Assessment]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentBaselineRequest'
      responses:
        '200':
          description: V3 baseline result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3AgentBaselineResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          description: Baseline retake limit reached

  # ============================================================
  # USER ENDPOINTS — Auth required
  # ============================================================

  /user/scores:
    get:
      summary: Get user's score history
      description: Returns all past action evaluations for the authenticated user.
      tags: [User]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Score history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3ScoreHistory'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /user/profile:
    get:
      summary: Get user's stoic profile
      description: Returns the user's Senecan grade, dimension levels, and progression data.
      tags: [User]
      responses:
        '200':
          description: User stoic profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ============================================================
# COMPONENTS
# ============================================================

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase JWT token. Obtain via Supabase Auth.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: SageReasoning API key (free or paid tier).

  schemas:

    # ----------------------------------------------------------
    # V3 Core Types
    # ----------------------------------------------------------

    KatorthomaProximityLevel:
      type: string
      enum: [reflexive, habitual, deliberate, principled, sage_like]
      description: Qualitative proximity to the sage ideal (katorthoma).

    SenecanGrade:
      type: string
      enum: [pre_progress, grade_3, grade_2, grade_1]
      description: Seneca's 3-grade framework (Ep. 75.8-15) plus pre-progress.

    DimensionLevel:
      type: string
      enum: [emerging, developing, established, advanced]
      description: Qualitative level for each of the 4 progress dimensions.

    DirectionOfTravel:
      type: string
      enum: [improving, stable, regressing]

    OikeiosisStage:
      type: string
      enum: [self_preservation, household, community, humanity, cosmic]

    DetectedPassion:
      type: object
      properties:
        root_passion:
          type: string
          enum: [epithumia, hedone, phobos, lupe]
          description: One of the 4 root passions (craving, irrational pleasure, fear, distress)
        sub_species:
          type: string
          description: Specific passion sub-species (e.g., anger, envy, greed)
        false_judgement:
          type: string
          description: The false belief underlying this passion

    KathekonQuality:
      type: string
      enum: [strong, moderate, marginal, contrary]
      description: Quality of the appropriate action assessment.

    # ----------------------------------------------------------
    # Scoring Request/Response
    # ----------------------------------------------------------

    ScoreActionRequest:
      type: object
      required: [action_description]
      properties:
        action_description:
          type: string
          minLength: 10
          description: What did the agent do?
        context:
          type: string
          description: Relevant background
        intended_outcome:
          type: string
        actual_outcome:
          type: string

    V3ActionScore:
      type: object
      properties:
        score_id:
          type: string
          format: uuid
        action_description:
          type: string
        control_filter:
          type: object
          properties:
            within_prohairesis:
              type: array
              items: { type: string }
            outside_prohairesis:
              type: array
              items: { type: string }
        is_kathekon:
          type: boolean
        kathekon_quality:
          $ref: '#/components/schemas/KathekonQuality'
        passions_detected:
          type: array
          items:
            $ref: '#/components/schemas/DetectedPassion'
        false_judgements:
          type: array
          items: { type: string }
        katorthoma_proximity:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        virtue_domains_engaged:
          type: array
          items:
            type: string
            enum: [phronesis, dikaiosyne, andreia, sophrosyne]
        ruling_faculty_assessment:
          type: string
        improvement_path:
          type: string
          description: What a sage would have done differently
        oikeiosis_scope:
          $ref: '#/components/schemas/OikeiosisStage'
        disclaimer:
          type: string
        created_at:
          type: string
          format: date-time

    AdviseActionRequest:
      type: object
      required: [proposed_action]
      properties:
        proposed_action:
          type: string
        alternatives:
          type: array
          items: { type: string }
        context:
          type: string
        concerns:
          type: string

    V3ActionAdvice:
      type: object
      properties:
        recommended_action:
          type: string
        sage_framing:
          type: string
          description: How a sage would think about this situation
        kathekon_assessment:
          $ref: '#/components/schemas/KathekonQuality'
        passion_warnings:
          type: array
          items:
            $ref: '#/components/schemas/DetectedPassion'
        key_considerations:
          type: array
          items: { type: string }
        oikeiosis_circles_affected:
          type: array
          items:
            $ref: '#/components/schemas/OikeiosisStage'

    # ----------------------------------------------------------
    # Deliberation
    # ----------------------------------------------------------

    StartChainRequest:
      type: object
      required: [action]
      properties:
        action:
          type: string
        context:
          type: string
        intended_outcome:
          type: string
        agent_id:
          type: string

    ContinueChainRequest:
      type: object
      required: [chain_id, revised_action]
      properties:
        chain_id:
          type: string
          format: uuid
        revised_action:
          type: string
        revision_rationale:
          type: string
        agent_id:
          type: string

    V3DeliberationResponse:
      type: object
      properties:
        chain_id:
          type: string
          format: uuid
        step_number:
          type: integer
        iteration_mode:
          type: string
          enum: [initial, revision]
        katorthoma_proximity:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        kathekon_quality:
          $ref: '#/components/schemas/KathekonQuality'
        passions_detected:
          type: array
          items:
            $ref: '#/components/schemas/DetectedPassion'
        virtue_domains_engaged:
          type: array
          items:
            type: string
            enum: [phronesis, dikaiosyne, andreia, sophrosyne]
        reasoning:
          type: string
        improvement_path:
          type: string
        growth_action:
          type: string
        deliberation_note:
          type: string
          description: Sage's acknowledgment of deliberation effort (revision mode)
        proximity_change:
          type: string
          description: Direction of change from previous step (revision mode)
        iteration_warning:
          type: string
          description: Stoic advisory issued every 5th iteration
        next_step_hint:
          type: string

    V3ChainSummaryResponse:
      type: object
      properties:
        chain_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, concluded, abandoned]
        total_iterations:
          type: integer
        proximity_trajectory:
          type: array
          items:
            $ref: '#/components/schemas/KatorthomaProximityLevel'
          description: Proximity level at each step
        direction_of_travel:
          $ref: '#/components/schemas/DirectionOfTravel'

    V3ChainConclusionResponse:
      type: object
      properties:
        chain_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [concluded, abandoned]
        initial_proximity:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        final_proximity:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        total_iterations:
          type: integer
        direction_of_travel:
          $ref: '#/components/schemas/DirectionOfTravel'
        message:
          type: string

    # ----------------------------------------------------------
    # Agent Assessment
    # ----------------------------------------------------------

    FoundationalAssessmentInfo:
      type: object
      properties:
        name:
          type: string
          example: Foundational Alignment Check
        tier:
          type: string
          example: free
        version:
          type: string
          example: v3
        total_assessments:
          type: integer
          example: 14
        phases:
          type: array
          items:
            type: object
            properties:
              phase: { type: integer }
              title: { type: string }
              assessments: { type: array, items: { type: string } }
              source_file: { type: string }
        output_format:
          type: string
        instruction:
          type: string
        assessment_framework_url:
          type: string
          format: uri

    FullAssessmentInfo:
      type: object
      properties:
        name:
          type: string
          example: Complete Virtue Alignment Assessment
        tier:
          type: string
          example: paid
        version:
          type: string
          example: v3
        total_assessments:
          type: integer
          example: 55
        phases:
          type: array
          items:
            type: object
            properties:
              phase: { type: integer }
              title: { type: string }
              assessments: { type: integer }
              source_file: { type: string }
        output_format:
          type: string

    AgentAssessmentRequest:
      type: object
      required: [agent_id, responses]
      properties:
        agent_id:
          type: string
          minLength: 2
        responses:
          type: array
          minItems: 14
          maxItems: 14
          items:
            type: object
            required: [assessment_id, response]
            properties:
              assessment_id:
                type: string
              response:
                type: string
                minLength: 50
                maxLength: 10000

    AgentFullAssessmentRequest:
      type: object
      required: [agent_id, responses]
      properties:
        agent_id:
          type: string
          minLength: 2
        responses:
          type: array
          minItems: 55
          maxItems: 55
          items:
            type: object
            required: [assessment_id, response]
            properties:
              assessment_id:
                type: string
              response:
                type: string
                minLength: 50
                maxLength: 10000

    V3FoundationalResult:
      type: object
      properties:
        agent_id:
          type: string
        tier:
          type: string
          example: free
        assessment_name:
          type: string
        phases_completed:
          type: array
          items: { type: integer }
        assessments_completed:
          type: integer
        senecan_grade_estimate:
          $ref: '#/components/schemas/SenecanGrade'
        katorthoma_proximity_summary:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        control_clarity:
          type: string
          enum: [strong, moderate, weak]
        initial_passions_detected:
          type: array
          items:
            $ref: '#/components/schemas/DetectedPassion'
        causal_sequence_integrity:
          type: string
          enum: [intact, partially_compromised, compromised]
        direction_of_travel:
          $ref: '#/components/schemas/DirectionOfTravel'
        per_assessment_summaries:
          type: array
          items:
            $ref: '#/components/schemas/PerAssessmentSummary'
        assessed_at:
          type: string
          format: date-time
        cta:
          type: object
          properties:
            headline: { type: string }
            body: { type: string }
            value_bullets: { type: array, items: { type: string } }
            action: { type: string }
            action_subtext: { type: string }
            personalised_message: { type: string }

    V3FullAssessmentResult:
      type: object
      properties:
        agent_id:
          type: string
        tier:
          type: string
          example: paid
        assessment_name:
          type: string
        phases_completed:
          type: array
          items: { type: integer }
        assessments_completed:
          type: integer
        senecan_grade:
          $ref: '#/components/schemas/SenecanGrade'
        dimension_levels:
          $ref: '#/components/schemas/DimensionLevels'
        dominant_passion:
          type: string
          enum: [epithumia, hedone, phobos, lupe]
        typical_proximity:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        oikeiosis_stage:
          $ref: '#/components/schemas/OikeiosisStage'
        passions_profile:
          type: array
          items:
            $ref: '#/components/schemas/DetectedPassion'
        critical_corrections:
          type: array
          items:
            type: object
            properties:
              false_judgement: { type: string }
              correct_judgement: { type: string }
              priority: { type: string, enum: [high, medium, low] }
        direction_of_travel:
          $ref: '#/components/schemas/DirectionOfTravel'
        dimension_directions:
          type: object
          properties:
            passion_reduction: { $ref: '#/components/schemas/DirectionOfTravel' }
            judgement_quality: { $ref: '#/components/schemas/DirectionOfTravel' }
            disposition_stability: { $ref: '#/components/schemas/DirectionOfTravel' }
            oikeiosis_extension: { $ref: '#/components/schemas/DirectionOfTravel' }
        examination_protocol:
          type: array
          items:
            type: object
            properties:
              question: { type: string }
              targets: { type: string }
              expected_insight: { type: string }
        per_assessment_summaries:
          type: array
          items:
            $ref: '#/components/schemas/PerAssessmentSummaryFull'
        assessed_at:
          type: string
          format: date-time
        disclaimer:
          type: string

    PerAssessmentSummary:
      type: object
      properties:
        assessment_id:
          type: string
        title:
          type: string
        proximity_level:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        passions_detected:
          type: array
          items:
            $ref: '#/components/schemas/DetectedPassion'
        summary:
          type: string

    PerAssessmentSummaryFull:
      type: object
      properties:
        assessment_id:
          type: string
        title:
          type: string
        phase:
          type: integer
        proximity_level:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        passions_detected:
          type: array
          items:
            $ref: '#/components/schemas/DetectedPassion'
        summary:
          type: string

    DimensionLevels:
      type: object
      properties:
        passion_reduction:
          $ref: '#/components/schemas/DimensionLevel'
        judgement_quality:
          $ref: '#/components/schemas/DimensionLevel'
        disposition_stability:
          $ref: '#/components/schemas/DimensionLevel'
        oikeiosis_extension:
          $ref: '#/components/schemas/DimensionLevel'

    # ----------------------------------------------------------
    # Agent Baseline
    # ----------------------------------------------------------

    BaselineScenariosInfo:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
          example: v3
        output_format:
          type: string
        instruction:
          type: string
        scenarios:
          type: array
          items:
            type: object
            properties:
              scenario_id: { type: string }
              primary_virtue_domain: { type: string, enum: [phronesis, dikaiosyne, andreia, sophrosyne] }
              scenario: { type: string }
              context: { type: string }
              instruction: { type: string }
              oikeiosis_circles_at_stake:
                type: array
                items:
                  $ref: '#/components/schemas/OikeiosisStage'

    AgentBaselineRequest:
      type: object
      required: [agent_id, responses]
      properties:
        agent_id:
          type: string
          minLength: 2
        responses:
          type: array
          minItems: 4
          maxItems: 4
          items:
            type: object
            required: [scenario_id, response]
            properties:
              scenario_id:
                type: string
              response:
                type: string
                minLength: 20

    V3AgentBaselineResult:
      type: object
      properties:
        agent_id:
          type: string
        senecan_grade:
          $ref: '#/components/schemas/SenecanGrade'
        typical_proximity:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        dominant_passion:
          type: string
          enum: [epithumia, hedone, phobos, lupe]
          nullable: true
        oikeiosis_stage:
          $ref: '#/components/schemas/OikeiosisStage'
        dimension_levels:
          $ref: '#/components/schemas/DimensionLevels'
        scenario_evaluations:
          type: array
          items:
            $ref: '#/components/schemas/V3ScenarioEvaluation'
        strongest_domain:
          type: string
        growth_edge:
          type: string
        interpretation:
          type: string
        disclaimer:
          type: string
        assessed_at:
          type: string
          format: date-time

    V3ScenarioEvaluation:
      type: object
      properties:
        scenario_id:
          type: string
        primary_virtue_domain:
          type: string
          enum: [phronesis, dikaiosyne, andreia, sophrosyne]
        response:
          type: string
        control_filter:
          type: object
          properties:
            within_prohairesis:
              type: array
              items: { type: string }
            outside_prohairesis:
              type: array
              items: { type: string }
        is_kathekon:
          type: boolean
        kathekon_quality:
          $ref: '#/components/schemas/KathekonQuality'
        passions_detected:
          type: array
          items:
            $ref: '#/components/schemas/DetectedPassion'
        false_judgements:
          type: array
          items: { type: string }
        katorthoma_proximity:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        virtue_domains_engaged:
          type: array
          items:
            type: string
            enum: [phronesis, dikaiosyne, andreia, sophrosyne]
        ruling_faculty_assessment:
          type: string
        oikeiosis_scope_demonstrated:
          $ref: '#/components/schemas/OikeiosisStage'
        improvement_path:
          type: string

    # ----------------------------------------------------------
    # User
    # ----------------------------------------------------------

    V3ScoreHistory:
      type: object
      properties:
        scores:
          type: array
          items:
            $ref: '#/components/schemas/V3ActionScore'
        total_count:
          type: integer
        typical_proximity:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        direction_of_travel:
          $ref: '#/components/schemas/DirectionOfTravel'

    V3UserProfile:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        senecan_grade:
          $ref: '#/components/schemas/SenecanGrade'
        typical_proximity:
          $ref: '#/components/schemas/KatorthomaProximityLevel'
        dimension_levels:
          $ref: '#/components/schemas/DimensionLevels'
        dominant_passion:
          type: string
          nullable: true
        direction_of_travel:
          $ref: '#/components/schemas/DirectionOfTravel'
        actions_evaluated:
          type: integer
        member_since:
          type: string
          format: date-time

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string }
              message: { type: string }
    Unauthorized:
      description: Missing or invalid authentication token
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, example: unauthorized }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error: { type: string, example: not_found }

tags:
  - name: Stoic Brain
    description: Public reference data — V3 8-file dataset
  - name: Scoring
    description: Action evaluation using V3 4-stage evaluation sequence
  - name: Deliberation
    description: Iterative evaluation for AI agents — start a chain, revise, track proximity
  - name: Agent Assessment
    description: AI agent self-assessment framework — foundational (free), full (paid), and baseline
  - name: User
    description: User profile and evaluation history (requires authentication)
